/*return button */

#btn_retour_prospects {
	-fx-pref-height: 30.0px;
    -fx-pref-width: 30.0px;
	-fx-background-image: url(undo.png);
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
#btn_retour_prospects:hover {
 -fx-effect: dropshadow(two-pass-box, #b4b4b4, 10, 0, 0, 0);
 }
 /*List Design */
 
#ProspectsListView {
	-fx-background-color: transparent ;
	-fx-background-insets: 0px;
	-fx-padding: 0px ;
}
 .list-cell {
    -fx-pref-height: 35;
  
    -fx-border-width: 2px;
    
    -fx-font-size: 13px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #6454F0;
    -fx-text-fill: white;
    
   }


.list-cell:filled:hover {
    -fx-text-fill: #4b7090;
    
    -fx-pref-height: 40;
    -fx-border-color: #6454F0 ;
    -fx-border-radius : 4,7;
}

.list-cell:empty {
    
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}
/*form Design */

#id_hbox_label_prospects{
	-fx-background-color: #6454f0;
}

#id_vbox_prospects{
	-fx-background-color: #F8F9F9;
	-fx-effect: dropshadow(two-pass-box, #b4b4b4, 10, 0, 0, 0);
}
#id_btn_modif{
	-fx-pref-height: 35px;
    -fx-pref-width: 35px;
    -fx-background-size: 23px 23px;
	-fx-background-image: url(modif.png);
	 -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(two-pass-box, #b4b4b4, 10, 0, 0, 0);
}
#id_btn_modif:hover{
	-fx-border-color: white ;
	-fx-border-radius : 20,40;
	-fx-effect: dropshadow(two-pass-box, white, 15, 0, 0, 0);
}
#id_btn_supp{
	-fx-pref-height: 35px;
    -fx-pref-width: 35px;
    -fx-background-size: 23px 23px;
	-fx-background-image: url(delete.png);
	 -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(two-pass-box, #b4b4b4, 10, 0, 0, 0);
}
#id_btn_supp:hover{
	-fx-border-color: white ;
	-fx-border-radius : 20,40;
	-fx-effect: dropshadow(two-pass-box, white, 15, 0, 0, 0);
}
#id_btn_sauvegarde{
	-fx-pref-height: 35px;
    -fx-pref-width: 35px;
    -fx-background-size: 23px 23px;
	-fx-background-image: url(save3.png);
	 -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
    -fx-background-color: #6454f0;
    
}
#id_btn_sauvegarde:hover{
	-fx-effect: dropshadow(two-pass-box, #b4b4b4, 15, 0, 0, 0);
}
#id_label_NP_prospects{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}
#id_label_NP_prospects1{
	-fx-background-color: transparent;
	-fx-text-fill: white;
}

#id_textfield_date_naiss{
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent #bfbfbf transparent;
	-fx-text-fill: #595959;
}
#id_textfield_option_bac{
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent #bfbfbf transparent;
	-fx-text-fill: #595959;
}
#id_textfield_niv_etude{
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent #bfbfbf transparent;
	-fx-text-fill: #595959;
}
#id_textfield_tel1{
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent #bfbfbf transparent;
	-fx-text-fill: #595959;
}
#id_textfield_tel2{
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent #bfbfbf transparent;
	-fx-text-fill: #595959;
}
#id_textfield_email{
	-fx-background-color: transparent;
	-fx-border-color: transparent transparent #bfbfbf transparent;
	-fx-text-fill: #595959;
}

#id_textfield_remarque{
	
	-fx-border-color: #bfbfbf ;
	-fx-background-color: transparent;
	-fx-text-fill: #595959;
	/*-fx-border-radius : 5,5;*/
}


#id_btn_recherche{
	-fx-pref-height: 25.0px;
    -fx-pref-width: 25.0px;
	-fx-background-color: #6454f0;
	-fx-background-image: url(search.png);
	-fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 20px 20px;
    -fx-background-insets: 0;
}
#id_btn_recherche:hover{
	-fx-pref-height: 28.0px;
    -fx-pref-width: 28.0px;
	-fx-effect: dropshadow(two-pass-box, #b4b4b4, 15, 0, 0, 0);
}

#id_btn_ajout_prospect{
	-fx-pref-height: 35.0px;
    -fx-pref-width: 140.0px;
	-fx-background-color: #6454f0;
	-fx-background-image: url(add-prosp.png);
	-fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-background-size: 23px 23px;
    -fx-background-insets: 0;
	-fx-text-fill: white;
}
#id_btn_ajout_prospect:hover{
	-fx-pref-height: 36.0px;
    -fx-pref-width: 142.0px;
	-fx-effect: dropshadow(two-pass-box, #b4b4b4, 15, 0, 0, 0);
	
}
#id_btn_sauvegarde_c{
	-fx-pref-height: 35px;
    -fx-pref-width: 100px;
    -fx-background-size: 23px 23px;
	-fx-background-image: url(save3.png);
	 -fx-background-repeat: no-repeat;
    -fx-background-position: left;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
    -fx-background-color: #6454f0;
}
#id_btn_sauvegarde_c:hover{
	-fx-effect: dropshadow(two-pass-box, #b4b4b4, 15, 0, 0, 0);
}