
#btn_retour_prospects {
	-fx-pref-height: 30.0px;
    -fx-pref-width: 30.0px;
	-fx-background-image: url(undo.png);
	-fx-background-size: 25px 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color:transparent;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}
#btn_retour_prospects:hover {
 -fx-effect: dropshadow(two-pass-box, #b4b4b4, 10, 0, 0, 0);
 }
#ProspectsListView {
	-fx-background-color: transparent ;
	-fx-background-insets: 0px;
	-fx-padding: 0px ;
}
 .list-cell {
    -fx-pref-height: 35;
  
    -fx-border-width: 2px;
    
    -fx-font-size: 14px;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #6454F0;
    -fx-text-fill: white;
    
   }


.list-cell:filled:hover {
    -fx-text-fill: #4b7090;
    
    -fx-pref-height: 40;
    -fx-border-color: #6454F0 ;
    -fx-border-radius : 4,7;
}

.list-cell:empty {
    
    -fx-background-color: transparent ;
    -fx-background-insets: 0 ;
}
